.header {
  .header-logo{
    animation: gradient 15s ease infinite;
    align-items: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 0;

    &__img {
      height: 180px;
    }
    &__title {
      font-size: 5rem;
    }
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}