.success-message {
  background-color: rgba($color: #7CFC00, $alpha: .7);
  border: 1px solid #7cfc00;
  margin: 0 auto;
  max-width: 300px;
  padding: 20px 0;
  width: 100%;

  &__text {
    font-size: 1.2rem;
    margin: 0;
  }
}