.song {
  background-color: rgba($color: #ccc, $alpha: .1);
  margin: 0 auto;
  max-width: 768px;
  padding: 30px 50px;
  width: 100%;

  &-buttons {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
      width: 100px;
    }
  }
  &-form {
    display: grid;
    padding: 20px 0;

    button {
      margin: 30px auto 0;
      width: 100px;
    }
    input,
    textarea {
      background: transparent;
      color: #fff;
      border: 0;
      border-bottom: 1px solid #ccc;
      margin: 10px 0;
      padding: 10px 15px 0 0;

      &:focus {
        border-bottom: 1px solid #888;
        outline: none;
      }
    }
    textarea {
      min-height: 400px;
      text-align: center;
    }
  }
}