.nav {
  height: 50px;

  &-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    max-width: 768px;
    padding: 0;
    width: 100%;

    li {
      padding: 10px 25px
    }
  }
}