.sing-in {
  margin: 0 auto;
  max-width: 768px;
  width: 100%;

  &__form {
    border: 1px solid #ccc;
    margin: 50px auto;
    max-width: 300px;
    padding: 10px 25px;
    width: 100%;

    label {
      align-items: center;
      display: flex;
      width: 100%;

      input[type=text],
      input[type=password],
      input[type=email] {
        width: 100%;
      }
      input[type=checkbox] {

      }
      span {
        padding: 0 10px;
      }
    }
    &-btn {
      margin: 20px 0;
      padding: 7px 25px;
    }
  }
}