.banner {
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  display: flex;
  filter: grayscale(1);
  height: 200px;
  margin: 0 auto;
  max-width: 768px;
  justify-content: center;
  width: 100%;

  &-title {
    font-size: 4rem;
  }
}

#SING_UP {
  background-image: url('../../assets/gifs/singUp.gif');
}
#SING_IN {
  background-image: url('../../assets/gifs/singIn.gif');
}
#ADD {
  background-image: url('../../assets/gifs/add.gif');
}
