.errors {
  list-style: none;
  margin: 0 auto;
  max-width: 300px;
  padding: 0;
  width: 100%;

  li {
    background-color: rgba($color: #ff3134, $alpha: .7);
    border: 1px solid #ff3134;
    padding: 12px 0;
    margin: 25px 0;
    width: 100%;
  }
}