@import './theme.scss';

.App {
  background-color: #000;
  color: #fff;
  font-family: 'Share Tech Mono';
  min-height: 100vh;
  overflow:auto;
  width: 100%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-card {
  color: red;
}