@import "~bootstrap/scss/bootstrap";

$theme-colors: (
    "info": tomato,
    "danger": teal
);

$body-bg: #000;
$body-color: #CCCCCC;

$theme-colors: (
  // "primary": #9370DB,
);

@font-face {
  font-family: 'Share Tech Mono';
  src: url('assets/fonts/ShareTechMono-Regular.eot');
  src: url('assets/fonts/ShareTechMono-Regular.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/ShareTechMono-Regular.woff2') format('woff2'),
      url('assets/fonts/ShareTechMono-Regular.woff') format('woff'),
      url('assets/fonts/ShareTechMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}